{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $email := promptString "Git email address for the author/committer" "kirkilese@gmail.com" -}}
{{- $hostname := promptString "Hostname for the computer" $hostname -}}

[data]
    email = {{ $email | quote }}
    hostname = {{ $hostname | quote }}

[github]
    refreshPeriod = "12h"

[pinentry]
    command = "pinentry"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
