{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $email := promptString "Git email address for the author/committer" "kirkilese@gmail.com" -}}
{{- $hostname := promptString "Hostname for the computer" $hostname -}}
{{- $languageChoices := list "frontend" "rust" "python" "go" -}}
{{- $languages := promptMultichoice "Language ecosystems used on this computer" $languageChoices $languageChoices -}}

[data]
    email = {{ $email | quote }}
    hostname = {{ $hostname | quote }}
    languages = [{{ range $i, $lang := $languages }}{{ if $i }}, {{ end }}{{ $lang | quote }}{{ end }}]

[github]
    refreshPeriod = "12h"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
