# Function for easily updating the path, making sure directoy exists
prepend-path() {
  [ -d "$1" ] && PATH="$1:$PATH"
}

{{ if ne .chezmoi.os "windows" -}}
prepend-path "/bin"
prepend-path "/sbin"
prepend-path "/usr/bin"
prepend-path "/usr/sbin"
prepend-path "/usr/local/bin"
prepend-path "/usr/local/sbin"
prepend-path "$HOME/.cargo/bin"
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
HOMEBREW_PREFIX=/opt/homebrew # assumes arm64, should be correct though
prepend-path "$HOMEBREW_PREFIX/bin"
prepend-path "$HOMEBREW_PREFIX/sbin"
prepend-path "$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin"
prepend-path "$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin"
prepend-path "$HOMEBREW_PREFIX/opt/grep/libexec/gnubin"
export HOMEBREW_PREFIX
{{- end }}

# Remove duplicates (preserving prepended items)
# Source: http://unix.stackexchange.com/a/40755
PATH=$(echo -n "$PATH" | awk -v RS=: '{ if (!arr[$0]++) {printf("%s%s",!ln++?"":":",$0)}}')
export PATH
