return {
  -- General LSP configuration
  {
    "neovim/nvim-lspconfig",
    opts = {
      diagnostics = {
        underline = true,
        update_in_insert = true,
        severity_sort = true,
        virtual_text = true,
        float = {
          source = "always",
        },
        signs = true,
      },
      servers = {
        wgsl_analyzer = {},
        clojure_lsp = {},
{{- if has "frontend" .languages }}
        graphql = {},
        cssls = {},
        tailwindcss = {
          settings = {
            tailwindCSS = {
              classFunctions = {
                "tw",
                "clsx",
                "cx",
                "cva",
              },
            },
          },
        },
{{- end }}
      },
      inlay_hints = {
        enabled = false,
      },
      setup = {
{{- if has "rust" .languages }}
        rust_analyzer = function()
          return true
        end,
{{- end }}
{{- if has "frontend" .languages }}
        eslint = function()
          vim.api.nvim_create_autocmd("BufWritePre", {
            pattern = { "*.ts", "*.tsx", "*.js", "*.jsx", "*.mjs" },
            callback = function()
              vim.cmd("LspEslintFixAll")
            end,
          })
        end,
{{- end }}
      },
    },
  },
  -- Installer for additional language server binaries
  {
    "mason-org/mason.nvim",
    opts = {
      ensure_installed = {
        "stylua",
        "shellcheck",
        "shfmt",
        "wgsl-analyzer",
{{- if has "python" .languages }}
        "flake8",
{{- end }}
{{- if has "rust" .languages }}
        "rust-analyzer",
{{- end }}
{{- if has "frontend" .languages }}
        "graphql-language-service-cli",
        "css-lsp",
{{- end }}
      },
    },
  },
{{- if has "rust" .languages }}
  -- Rust LSP configuration
  {
    "mrcjkb/rustaceanvim",
    version = "^5",
    lazy = false,
  },
{{- end }}
}
